.diary-header-responsive {
    width: 100%;
    height: 100%;
    overflow: visible;
}

.diary-header-responsive__content {
    background: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: visible; /* Asegurar que no se corten los números laterales */
}

/* Redimensionar WeeklyCarousel en el modo responsive si es necesario */
.diary-header-responsive .weekly-carousel {
     flex: 1;
}
